@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 235, 235, 211;
  --background-end-rgb: 235, 235, 211;
}



body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));

}
/* The animation code */
@keyframes growHeight {
  from {max-height: 0px;}
  to {max-height: 200px;}
}
.expanding {
  animation-name: growHeight;
  animation-duration: 2s;

}
.textFormBg {
  background-color: rgb(235, 234, 228);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
